@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete User </title>
</head>
<body>
    <h4>User with UserName @Model has a courses..</h4>
    <p>Please delete the user courses first.</p>
</body>
</html>
